body
{
  background-image:			url('images/overlay.png'),		url('images/bg.jpg');
  background-repeat:			repeat,							no-repeat;
  background-size:			auto,							100% 100%;
}

  body.is-loading *
  {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
