[scdl]
client_id =
auth_token =
path = .
name_format = [%(id)s] %(uploader)s - %(title)s.%(ext)s
playlist_name_format = %(playlist_index)s. %(uploader)s - %(title)s.%(ext)s

# For name formats see https://github.com/yt-dlp/yt-dlp/?tab=readme-ov-file#output-template